<div class="div">
  <div>
    <p>Nome: Vinícius Martinez de Oliveira</p>
    <p>Periodo: 5º</p>
    <P>Teste</P>
    <P><iframe width="560" height="315" src="https://www.youtube.com/embed/a1IBpsuCI14" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><p>
    <img class="img" src="https://scontent.fgyn2-1.fna.fbcdn.net/v/t39.30808-6/344812025_896570804767385_6137676021749767104_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH0v2U8bO8UZGiMDNfkh7eFYzUnV7ihXDBjNSdXuKFcMPmRvqeYcdLUSgg0nmuxS3y-fH9YQFjmDPMFix4Q3_-E&_nc_ohc=zuZCtl4XAZIAX_q2G9Q&_nc_ht=scontent.fgyn2-1.fna&oh=00_AfChNZYCaVRwjMll7W7ZZbbPf1JVixG6tk8tr6JvJ8u01w&oe=64701214" />
  </div>
</div>